.containerHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--border-geral);
}

.myLogoHeader {
  height: 27%;
}

.containerOptionsHeader {
  display: flex;
  gap: 40px;
}

.containerOptionsHeader a {
  position: relative;
  text-decoration: none;
  font-size: clamp(14px, 2vw, 16px);
  font-family: var(--font-play);
}

.containerOptionsHeader a::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: " ";
  width: 0;
  height: 2px;
  background-color: var(--color-blueWeak);
  opacity: 0;
  transition: all 0.3s ease;
}

.containerOptionsHeader a:nth-child(1)::after,
.containerOptionsHeader a:hover::after {
  width: 100%;
  opacity: 1;
}

.buttonMenuMobile {
  border: none;
  background-color: transparent;
}

.buttonMenuMobile div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-blueWeak);
  width: 30px;
  height: 30px;
  border: 0 solid transparent;
  font-size: 20px;
  border-radius: 100%;
}

.containerMenuMobile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--border-postBlog);
  margin-right: 20px;
  padding: 20px 70px 20px 20px;
  border: 1px solid var(--border-geral);
  border-radius: 5px;
  z-index: 4;
}

.containerMenuMobile a {
  text-decoration: none;
  font-size: clamp(12px, 2vw, 14px);
  padding: 15px 0;
}

.optionMenuClass {
  transition: all 0.4s ease;
}

.optionMenuClass:hover {
  opacity: 0.5;
}

.arrowMenuMobile {
  margin-bottom: 10px;
  fill: var(--border-postBlog);
}
