.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../../assets/backgrounds/hero-1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
}

.contentHome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
