.apresentationModel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 350px;
}

.containerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70px;
  width: 70px;
  padding: 10px;
}

.containerImage::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid var(--color-blueWeak);
  transition: all 0.5s ease;
}

.apresentationModel:hover .containerImage::after {
  transform: rotate(45deg);
}

.titleWork {
  font-family: var(--font-play);
  font-weight: 700;
  font-size: clamp(18px, 2vw, 20px);
}

.textWork {
  line-height: 1.3;
  color: var(--color-whiteWeak);
  font-size: clamp(12px, 2vw, 16px);
}

/*no-image*/

.apresentationModelNoImage {
  display: flex;
  gap: 60px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 90%;
  justify-content: start;
}

.divTitles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alternativeText {
  font-family: var(--font-josefin);
  font-weight: 400;
  letter-spacing: 2px;
  font-size: clamp(14px, 2vw, 16px);
}

.titleWorkNoImage {
  font-family: var(--font-play);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: clamp(30px, 2vw, 40px);
}

.titleWorkNoImage::after {
  content: " ";
  display: block;
  width: 30%;
  height: 5px;
  background-color: var(--color-blueWeak);
  margin-top: 15px;
}
